.box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    min-height: 400px; /* Ajusta según lo necesario */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo {
    background-color: #f8f9fa; /* Un tono diferente para resaltar */
}

.top {
    margin-bottom: 15px;
}

.buy {
    margin-top: 15px;
}

.button {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

.features {
    background-color: #3498db; /* Cambia el color si es necesario */
    color: #fff;
}
